/* Основной цвет бекграунда - #e5e5e5; */
/* Дополнительный цвет бекграунда - #f5f4fa; */
/* Цвет бекграунда героя, футера - #2f303a; */

/* Дополнительный цвет бг, текста - #ffffff; */
/* Цвет основного текста - #757575; */
/* Цвет текста тайтлов - #212121; */
/* Акцент цвет текста - #2196f3; */
/* Цвет текста в футере № тел., e-mail - rgba(255, 255, 255, 0.6); */
/* Лого студио текст цвет - #000000; */
/* Цвет ховера кнопки - #188ce8; */
/* Цвет border карточек портфолио -#eeeeee; */
/* Цвет border хедера - #ececec; */
/* Цвет бекграунда героя - #c4c4c4; */
/* Цвет иконок соцсетей - #afb1b8; */
/* Цвет бекграунда иконок соцсетей футера - rgba(255, 255, 255, 0.1); */

/* Обводка - outline: 2px solid tomato; */

:root {
  --primary-white-color: #ffffff;
  --section-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-studio-text-color: #000000;
  --button-hover-color: #188ce8;
  --border-header-color: #ececec;
  --border-portfolio-card: #eeeeee;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --social-networks-logo-color: #afb1b8;
  --social-logo-footer-bg-color: rgba(255, 255, 255, 0.1);
}

/* Base */
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Header */
.header {
  border: 1px solid var(--border-header-color);
}

.header .logo {
  margin-right: 93px;
}

.header .logo-studio {
  color: var(--logo-studio-text-color);
}

.header .contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 32px 0;
}

.icon-envelope,
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-bg-color);
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-studio,
.footer .office {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.office {
  text-decoration: none;
}

.footer .contacts {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-social .title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-network-link.social-footer-link {
  background-color: var(--social-logo-footer-bg-color);
  fill: var(--primary-white-color);
}

/* Site-nav */
.main-nav,
.main-nav-contacts,
.main-nav-contacts .contacts {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-right: auto;
}

.main-nav .item:not(:last-child) {
  margin-right: 30px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts:hover,
.contacts:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  background-color: var(--hero-footer-bg-color);
  text-align: center;
  padding: 200px 0;
}

.overlay {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
  letter-spacing: 0.06em;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border: 0;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

/* Benefits section*/
.benefits {
  display: flex;
}

.benefits .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits p {
  margin: 0;
}

.benefits .item {
  width: 270px;
}

.benefits .item:not(:last-child) {
  margin-right: 30px;
}

.thumb {
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

/* Working process section*/
.working-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.workflow {
  display: flex;
}

.workflow img {
  display: block;
}

.workflow .item:not(:last-child) {
  margin-right: 30px;
}

/* Team section */
.team-section {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.employee {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee:not(:last-child) {
  margin-right: 30px;
}

.employee-component {
  padding: 30px 0;
}

.team-list .title {
  font-weight: 500;
}

.team-list .title,
.team-list .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list img {
  display: block;
}

.profession {
  margin: 0 0 16px;
}

/* Social networks */

.social-network-list {
  text-align: center;
}

.social-network {
  display: inline-flex;
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--social-networks-logo-color);
}

.icon-network {
  width: 20px;
  height: 20px;
}

.social-network-link:hover,
.social-network-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Our clients section */
.list-clients {
  display: flex;
}

.list-clients .item:not(:last-child) {
  margin-right: 30px;
}

.icon-client {
  display: inline-flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-networks-logo-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--social-networks-logo-color);
}

.icon-client:hover,
.icon-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio page*/
.portfolio-nav {
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-buttons {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: 0;
  letter-spacing: 0.03em;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus,
.active-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav,
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-nav > .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list > .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list > .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border-portfolio-card);
  border-bottom: 1px solid var(--border-portfolio-card);
  border-left: 1px solid var(--border-portfolio-card);
}

.portfolio-list img {
  display: block;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
